<html>
  <body>
    <div class = "content">
      <div id="section-header">
        <h1>{{data.header}}</h1>
      </div>
      <div id="section-body">
        <p>{{data.content}}</p>
      </div>
      <div id='academics-section'>
        <div>
          <h1>Acads</h1>
          <table>
            <tr>
              <td>
                Masters in Computer Engineering:
              </td>
              <td>
                North Carolina State University, NC
              </td>
              <td>
                Grad’ May 2014
              </td>
            </tr>
            <tr>
              <td>
                Bachelors of Technology, Electronics:
              </td>
              <td>
                Vellore Institute of Technology, India
              </td>
              <td>
                Grad’ May 2009
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div id="section-footer">
        <p>{{data.footer}}</p>
      </div>
    </div>
  </body>
</html>
