<html>
  <body>
    <div>
      <div id="section-header">
        <h1>{{data.header}}</h1>
      </div>
      <div id="section-body">
        <p>{{data.content}}</p>
      </div>
      <div id="section-footer">
        <p>{{data.footer}}</p>
      </div>
    </div>
    <div>
      <h1>{{data.tech_work_text}}</h1>
      <span ng-repeat = "ele in tech_work">
          <a href = "" ><img class ="tech-circles" src = {{ele.img}}></a>
      </span>
      </div>
    </div>
    <div>
      <h1>{{data.tech_explore_text}}</h1>
      <span ng-repeat = "ele in tech_explore">
        <a href = "" ><img class ="tech-circles" src = {{ele.img}}></a>
      </span>
    </div>
  </body>
</html>
