<div>
  <div id='academics-section'>
    <div>
      <h1>Acads</h1>
      <table class = "tbl-acad">
        <tr>
          <td>
            Masters in Computer Engineering:
          </td>
          <td>
            North Carolina State University, NC
          </td>
          <td>
            Grad’ May 2014
          </td>
        </tr>
        <tr>
          <td>
            Bachelors of Technology, Electronics:
          </td>
          <td>
            Vellore Institute of Technology, India
          </td>
          <td>
            Grad’ May 2009
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div id="section-header">
    <h1>{{data.header}}</h1>
  </div>
  <ul ng-repeat="exp in experiences">
    <div class ="company-title">
      {{exp.company}}
    </div>
    <ul>
      <div align="right">{{exp.location}}</div>
      <li>{{exp.position}} <div align="right">{{exp.duration}}</div></li>
      <ul ng-repeat="proj in exp.projects" >
        <li align="left" title="Team name">{{proj.team}}</li>
        <li align="left" class ="tech-line">{{proj.tech}}</li>
        <ul ng-repeat="point in proj.project_points">
          <li>{{point.val}}</li>
        </ul>
      </ul>
    </ul>
  </ul>
  <div id="section-header">
    <h1>{{data_projects.header}}</h1>
  </div>
  <ul ng-repeat="proj in projects">
    <li>{{proj.title}} <div align="right" class = "tech-line">{{proj.tech}}</div></li>
    <ul ng-repeat="point in proj.points" >
      <li align="left">{{point.val}}</li>
    </ul>
    <a href = {{proj.link}} ><img class ="oval-img-link" src = "resources/gitdown.jpg"></a>
  </ul>
</div>
