/* app css stylesheet */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, strong, b { font-family: 'Open Sans', sans-serif !important; margin-bottom: 20px; }
/*h1,h4 { font-weight: 700; margin-bottom: 10px; }
h2,h3 { font-weight: 300; color: #22A39F; }
h2 { font-size: 54px; text-align: center; }
h3 { font-size: 28px; }*/

html, body { color: #434242; font-family: 'Open Sans', sans-serif !important; height: 100%; }
body { background: #f7f4f1; font-size: 15px; line-height: 1.64; }
.title {
  font-size: 54px; text-align: center;
  font-weight: 300; color: #22A39F;
  /*padding-bottom: 0px;*/
}

h2.title {
  border-bottom-style: double;
  border-bottom-width: 5px;
  border-bottom-color: #22A39F;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

 ul.nav a {
  display: block;
  padding: 30px;
  padding-left: 5px;
  text-transform:  lowercase;
  letter-spacing: 1px;
  opacity: 0.8;
  color: #22A39F;
  font-size: 20px;
}

ul.nav {
  padding: 0px;
  margin-top: 0px;
  list-style: none;
  text-align: center;
}

ul.nav li {
  display: inline-block;
}

.contact-footer {

}

div.content {
  margin: 30px;
  padding: 20px 40px;
  border: 1px solid #eee;
  border-bottom: 2px solid #e9e9e9;
  border-radius: 3px;
  background: #fff;
  box-sizing: border-box;
}
/*.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}*/
