/* app css stylesheet */

html, body { color: #434242; font-family: 'Open Sans', sans-serif !important; height: 100%; }
body { background: #f7f4f1; font-size: 15px; line-height: 1.64; }
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, strong, b { font-family: 'Open Sans', sans-serif !important; margin-bottom: 20px; }
h1,h4 { font-weight: 700; margin-bottom: 10px; }
h2,h3 { font-weight: 300; color: #22A39F; }
h2 { font-size: 54px; text-align: center; }
h3 { font-size: 28px; }

a {
  display: block;
  padding: 2px;
  text-transform: lowercase;
  letter-spacing: 1px;
  opacity: 0.5;
}

ul.nav {
  /*display: block !important;*/
  /*align-items: baseline;*/
  list-style: none;
  margin-top: 40px;
  text-align: center;
}

.contact-footer {

}
/*.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}*/
