/* app css stylesheet */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, strong, b { font-family: 'Open Sans', sans-serif !important; margin-bottom: 20px; }
/*h1,h4 { font-weight: 700; margin-bottom: 10px; }
h2,h3 { font-weight: 300; color: #22A39F; }
h2 { font-size: 54px; text-align: center; }
h3 { font-size: 28px; }*/

html, body { color: #434242; font-family: 'Open Sans', sans-serif !important; height: 100%; }
body { background: #f7f4f1; font-size: 15px; line-height: 1.64; }
.title {
  font-size: 35px; text-align: center;
  font-weight: 300; color: #22A39F;
  /*padding-bottom: 0px;*/
}

h2.title {
  border-bottom-style: double;
  border-bottom-width: 5px;
  border-bottom-color: #22A39F;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

 ul.nav a {
  display: block;
  padding: 30px;
  padding-left: 5px;
  text-transform:  lowercase;
  letter-spacing: 1px;
  opacity: 0.8;
  color: #22A39F;
  font-size: 20px;
}

ul.nav {
  padding: 0px;
  margin-top: 0px;
  list-style: none;
  text-align: center;
}

.img-circle {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: 10px;
    padding: 5px;
}

.small-img-circles {
  border-radius: 60%;
  width: 30px;
  height: 30px;
  padding: 5px;
}

div.social-icons{
  align-items: center;
}

div.contact {
  /*position:absolute;
  bottom:0px;
  background:#999;*/
}

div.main-container {
  width: 100%;
  margin: 0px;
}

div.top-header {
  width: 70%;
  margin-bottom: 50px;
}

div.content {
  padding: 20px 40px;
  width: 65%;
  border-top: 100px;
  margin: 0px;
  background: #fff;
  float: left;
  border-bottom: 2px solid #e9e9e9;
  border-radius: 3px;
}

div.sidebar {
  width: 20%;
  margin: 0px;
  float: left;
  background: #f7f4f0
}
